.not-authorized-page {
  width: 100%;
  height: 84vh;
}

@media (max-width: 768px) {
  .not-authorized-page {
    margin-top: 150px;
  }
}
@media (max-width: 330px) {
  .not-authorized-page img {
    max-width: 200px;
  }
}