.forget-password__verify-code{
  letter-spacing: 5px;
}
.forget-password__verify-code::placeholder{
  letter-spacing: normal;
}


/* جديد */
.forget_password-spinner{
  position: absolute;
  left: 10px;
  top: 15px;
  color: var(--bs-warning);
  max-width: 17px;
  max-height: 17px;
}

@media (max-width: 768px) {
  .login-register-header {
    margin-top: 180px;
  }
}
@media (max-width: 320px) {
  .login-register-header {
    margin-top: 220px;
  }
}