.category-header{
    margin-top: 20px;
    margin-bottom: 20px;
}
.category-header span{
    color: var(--bs-orange);
    font-size: 22px;
    font-weight: 600;
}

/* @media (max-width: 768px) {
    .category-header{
        margin-top: 170px;
    }
}
@media (max-width: 320px) {
    .category-header{
        margin-top: 220px;
    }
} */