.cart-counter-and-delete {
  font-size: 20px !important;
}
@media (max-width: 320px) {
  .cart-counter-and-delete {
    font-size: 12px !important;
  }
}

@media (max-width: 768px) {
  .cart-page-category-header{
      margin-top: 170px;
  }
}
@media (max-width: 320px) {
  .cart-page-category-header{
      margin-top: 220px;
  }
}